@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
    background: -webkit-linear-gradient(#0af548, #8cf8a9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}